section.Reservation
		h1.Reserv-Tittle Haga su reservación ahora
		section.Resv-Container
			.FormWrapper
				form
					input(type='text' placeholder='Nombre')
					br
					input(type='text' placeholder='Email')
					br
					textarea(name='' cols='40' rows='10' placeholder='Ingrese su pedido')
					br
					a.Reserv-btn(href='#') Hacer Reservación
			.Resv-Socials
				.Resv-Icon(data-aos='zoom-out-up')
					i.fab.fa-instagram
					p @asu_provecho
				.Resv-Icon(data-aos='zoom-out-up')
					i.fab.fa-facebook-f
					p @asuprovecho
				.Resv-Icon(data-aos='zoom-out-up')
					i.fab.fa-twitter
					p @asuprovecho