section#Servicios.Info-Section
		h1 Algunos de nuestros servicios
		section.Info-Wrapper
			.Info-item(data-aos='fade-up')
				.Inf-item1
				.Info-thumbnail
					p Comidas para llevar, envíos a domicilio, variedad de menus vegetarianos y mucho más. 
					button.hvr-grow(type='submit') Envíos
			.Info-item(data-aos='fade-up')
				.Inf-item2
				.Info-thumbnail
					p Amplia carta para deleitar nuestros sabores desde platos dietéticos hasta exquicitas variedades de pastas.
					button.hvr-grow(type='submit') Ver Carta
			.Info-item(data-aos='fade-up')
				.Inf-item3
				.Info-thumbnail
					p Trabajamos con chefs internacionales para ocaciones especiales y brindarle lo mejor en cada noche.
					button.hvr-grow(type='submit') Conoce al Chef