section.Testimonials(data-aos='zoom-in')
		h1 Algunos de nuestros clientes
		.owl-carousel.owl-carousel1.owl-theme
			.Test-card
				// <img class="test-card-img" src="img/person1.jpg" alt="">
				.test-card-img.card1
				.test-card-body
					h5 @VeronaBlair
					p.test-card-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, consectetur?
			.Test-card
				// <img class="test-card-img" src="img/person2.jpg" alt="">
				.test-card-img.card2
				.test-card-body
					h5 @JaneMeldrum
					p.test-card-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, consectetur?
			.Test-card
				// <img class="test-card-img" src="img/person3.jpg" alt="">
				.test-card-img.card3
				.test-card-body
					h5 @AndrewKazantzis
					p.test-card-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, consectetur?
			.Test-card
				// <img class="test-card-img" src="img/person4.jpg" alt="">
				.test-card-img.card4
				.test-card-body
					h5 @DesireeBurch
					p.test-card-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, consectetur?
			.Test-card
				// <img class="test-card-img" src="img/person5.jpg" alt="">
				.test-card-img.card5
				.test-card-body
					h5 @DalyHarry
					p.test-card-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, consectetur?
			.Test-card
				// <img class="test-card-img" src="img/person6.jpg" alt="">
				.test-card-img.card6
				.test-card-body
					h5 @SalomeSimoes
					p.test-card-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, consectetur?