doctype html
html(lang="en")
  include includes/head.pug
    title A su Provecho | Chefs
  body
    header.HeaderChef
      .layer 
        include includes/nav.pug
        h1.Head-Tittle(data-aos='fade-right') Nuestros Chefs
        h2.Head-SubTittle(data-aos='fade-left') Brindandote platos excelentes para una noche involvidable
  include includes/footer.pug
  include includes/scriptjs.pug