<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="css/styles.css")    
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans")
  title Provecho | Restaurante  
body
  header.Header
    .layer
      nav.Menu-Nav
        ul.Menu-list
          li.Menu-Item
            a.Menu-Link(href="#") Inicio
          li.Menu-Item
            a.Menu-Link(href="#") Carta
          li.Menu-Item
            a.Menu-Link(href="#") Historia
          li.Menu-Item
            a.Menu-Link(href="#") Contacto
      h1.Head-Tittle Provecho
      h2.Head-SubTittle Restaurante | Comidas para Llevar  
  section.Info-Wrapper
    .Info-item
      .Inf-item1
        .Inf-layer        
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iure autem sunt! Harum quod error itaque, provident debitis aperiam incidunt sed, neque quae ipsa totam quidem mollitia recusandae eum animi?
          button(type="submit") Nuestros Productos
    .Info-item
      .Inf-item2
        .Inf-layer        
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iure autem sunt! Harum quod error itaque, provident debitis aperiam incidunt sed, neque quae ipsa totam quidem mollitia recusandae eum animi?
          button(type="submit") Ver Carta
    .Info-item
      .Inf-item3
        .Inf-layer
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iure autem sunt! Harum quod error itaque, provident debitis aperiam incidunt sed, neque quae ipsa totam quidem mollitia recusandae eum animi?
          button(type="submit") Conoce al Chef
  section.Services
    h1.Serv-Tittle Nuestros Servicios
    h3.Serv-Sbtittle Brindamos servicios de comida rápida para llevar, tenedor libre los fines de semana, carta abierta durante la semana.
    img(src="", alt="")
  section.Reservation
    h1.Reserv-Tittle Haga su reservación ahora
    button.btn.Reserv-btn(type="submit") Hacer Reservación
