doctype html
html(lang='en')
	include includes/head.pug
	title A Su Provecho | Restaurante  
body
	// HEADER
	header.Header
		.layer
			include includes/nav.pug
			h1.Head-Tittle(data-aos='fade-right') A Su Provecho
			h2.Head-SubTittle(data-aos='fade-left') Restaurante | Comidas para Llevar  
	// INFO CARDS SECTION
	include includes/sectioninfo.pug
	// CHEFF PERSONAL
	#Cheff.Personal(data-aos='flip-left')
		.Pers-text
			p Los mejores chef de diversos paises para brindar una noche inolvidable
	// TESTIMONIOS
	include includes/testimonios.pug
	// RESERVATIONS
	include includes/reservaciones.pug
	// MAIN FOOTER
	include includes/footer.pug
	include includes/scriptjs.pug